<% counter = 1 %>
<% for result in @results %>
  <div class="result">

    <img src="<%= result.image %>" alt="<%= result.title %>">
    <h3><%= counter %><a href="/recipes/<%= result.id %>"><%= result.title %></a></h3>
    <span id="usedIngredientCount"><%= result.usedIngredientCount %> ingredients used</span>
    <span id="usedIngredientCount">
    <span id="usedIngredients">
      <ul>
      <% for ingredient in result.usedIngredients %>
        <li><%= ingredient.name %></li>
      <% end %>
      </ul>
    </span>
    <span id="missedIngredientCount">
      <% if result.missedIngredientCount == 0 %>
        You have all the ingredients!
      <% else %>
        <%= result.missedIngredientCount %> ingredients needed
        <ul>
        <% for ingredient in result.missedIngredients %>
          <li><%= ingredient.name %></li>
        <% end %>
        </ul>
      <% end %>
      </span>
    <span id="likes"><%= result.likes %> likes</span>
  </div>
  <% counter += 1 %>
<% end %>
